@import "../../styles/_variaveis.scss";

.menu {
    padding: 20px $padding-horizontal;
}

.header {
    align-items: center;
    background-image: url("/assets/cardapio/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 300px;
    padding: 0 $padding-horizontal;
    
    &__text {
        color: #fff;
        font-size: 5rem;
        min-width: 400px;
        width: 40%;
    }
}